<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<appSettings>
		<!--Server info-->
		<add key="port" value="13000" />
		<add key="ip" value="127.0.0.1" />
		<!-- SQL info -->
		<add key="dbPort" value="3306" />
		<add key="database" value="inventory" />
		<add key="user" value="InventoryAuditor" />
		<add key="password" value="ShopifyIntern2022" />
		<!--log file paths-->
		<add key="serverLogFile" value="ServerLog.txt" />
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>